# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# iOS
**/ios/Flutter/.last_build_id

# Generated docs
**/doc/api/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android build outputs
android/app/debug/
android/app/profile/
android/app/release/

# 🔐 Security (VERY IMPORTANT)
android/key.properties
android/app/keystore/
*.jks
*.keystore